<html>
<head>
    <title> Index</title>
</head>
<body>
    <div>
        <h1>Duração da Action Index</h1>
        @ViewData["duracaoDaAction"] millisegundos(DuracaoActionFilter)
    </div>
    <footer>
        @ViewData["ola"]
        @ViewData["adeus"]
    </footer>
</body>
</html>