@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3"> Curso Macoratti</h1>
    <p class="lead">Curso Asp Net Core</p>
    <hr class="my-4">
    <p> Curso bom, para aprender Asp Net</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="www.macoratti" role="button" >Macoratti</a>
    </p>
</div>